*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(72,118,187);
    background: linear-gradient(0deg, rgba(72,118,187,1) 0%, rgba(222,208,249,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content{
    width: 100%;
    max-width: 450px;
    background-color: #DED0F9;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #ffffff;
    position: relative;
}

.form-content h1::after{
    content: '';
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background: rgb(78, 225, 176);;
    position: absolute;
    bottom: -12px;
    left: 160px;
    transform: translate(-50%);
}

.input-field{
    background-color: #dccbfe;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #ffffff;
}

.input-field i{
    margin-left: 15px;
    color: aliceblue;
}

form p{
    color: #ffffff;
    text-align: left;
    font-size: 15px;
}

form p a{
    color: aquamarine;
    margin-left: 3px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button{
    flex-basis: 40%;
    font-size: 16px;
    background-color: rgb(78, 225, 176);
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field a{
    flex-basis: 40%;
    font-size: 16px;
    background-color: rgb(78, 225, 176);
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

img{
    height: 40vh;
    width: 40vw;
}