<!DOCTYPE html>
<html lang="es">
<head>
    <form action="/" method="post">
    <meta cha  rset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrato | Inicio Sesion</title>
    <link rel="stylesheet" href="/static/qr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container">
        <div class="form-content">
            <h1 id="title">Escanea el código con tu app</h1>
            <form>
                <div class="input-group">
                   <div>
                        <img src="/img/qr_code.png">
                   </div>
                   <br/>
                   <br/>
                   <div class="btn-field">
                        <button type="submit" id="submit">Listo</button>
                   </div>   
                </div>
            </form>
        </div>
    </div>
</body>
</html>