<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrato</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <header>
        <img src="https://media.licdn.com/dms/image/C4D0BAQHXl_XyT8nB4g/company-logo_200_200/0/1667865154349/atratopago_logo?e=2147483647&v=beta&t=LtEBU1IYu6ojylS96XaqNnRS8asGH7Xsj2KgIm03VJk" height="100px" width="100px">
        <h1>¡Bienvenido!</h1>
        <nav>
            <ul>
                <li><a href="/templates/login.html">Cerrar sesión</a></li>
                <li><a href="#">Acerca de Atrato</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Registro Exitoso</h2>
            <p>Esto es un ejemplo de la página principal.</p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Hackaton Improving Finance.</p>
    </footer>
    
</body>
</html>