<!DOCTYPE html>
<html lang="es">
<head>
    <form action="/" method="post">
    <meta cha  rset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrato | Inicio Sesion</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript">
        // Función para manejar el evento de copiar
        function bloquearCopiar(event) {
            // Prevenir la acción predeterminada de copiar
            event.preventDefault();
            // Mostrar un mensaje de advertencia (opcional)
            alert("¡No está permitido copiar!");
        }

        // Función para manejar el evento de pegar
        function bloquearPegar(event) {
            // Prevenir la acción predeterminada de pegar
            event.preventDefault();
            // Mostrar un mensaje de advertencia (opcional)
            alert("¡No está permitido pegar!");
        }
    </script>
</head>
<body>

    <div class="container">
        <div class="form-content">
            <h1 id="title">Registro</h1>
            <form>
                <div class="input-group">
                   <div class="input-field" id="nameInput">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" id="usuario" name="usuario" placeholder="Usuario" oncopy="bloquearCopiar(event)" onpaste="bloquearPegar(event)" required>
                    </div>
                        <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="correo" name="correo" placeholder="Correo Electronico" oncopy="bloquearCopiar(event)" onpaste="bloquearPegar(event)" required>
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Confirmar contraseña" required>
                    </div>
                        <div class="input-field">
                        <div class="g-recaptcha" data-sitekey="6LeX4n0pAAAAAMxlIH__0CUHMtqufhRq7g3yOA3h" required>
                        </div>
                    </div>                     
                </div>
                <button type="submit" onclick="getInputs()">Ingresar</button>
                <br/>
                <br/>
                <br/>
                <div class="btn-field">
                    <a href="/templates/register.html"><button id="signUp" type="button">Registrarse</button></a>
                    <a href="/templates/login.html"><button id="signIn" type="button" class="disable">Iniciar Sesion</button></a>
                    <br/>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function getInputs(){
            let usuarioWeb = document.getElementById("usuario").value;
            let correoWeb = document.getElementById("correo").value;
            let contrasenaWeb = document.getElementById("contraseña").value;

            var requestData = {
            usuario: usuarioWeb,
            correo: correoWeb,
            contrasena: contrasenaWeb
        };

        // Configurar los encabezados de la solicitud
        var headers = new Headers();
        headers.append("Content-Type", "application/json");

        // Configurar las opciones de la solicitud
        var options = {
            method: "POST",
            headers: headers,
            body: JSON.stringify(requestData) // Convertir los datos a formato JSON
        };

            fetch('http://127.0.0.1:5000/post_example', options)
            .then(response => response.text())
            .then(data => {
                console.log(data); // Imprimir la respuesta del servidor
                alert(data); // Mostrar la respuesta en una ventana de alerta
                window.location.href= "/templates/login.html"
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>